<div>
    <h1>Ingresa tu producto:</h1>
    <form class="form-control" name="form" action="/products" method="post" enctype="application/x-www-form-urlencoded">
        <label for="title"> Title: </label>
        <input type="text" name="title"/><br />
        <label for="price"> Price: </label>
        <input type="text" name="price" /><br />
        <label for="link"> Link: </label>
        <input type="text" name="thumbnail"/><br />
        <button type="submit" class="btn ">
          Submit</button>
      </form>
</div>