<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container m-4 p-4">
      <h1>Ingresa tu producto:</h1>
      <form name="form" action="/api/handlebars" method="post">

        <label for="title"> Title: </label>
        <input type="text" name="title" value="" /><br />
        <label for="price"> Price: </label>
        <input type="text" name="price" value="" /><br />
        <label for="link"> Link: </label>
        <input type="text" name="thumbnail" value="" /><br />

        <button type="submit" class="btn btn-success">
          <span class="fa fa-arrow-right">Submit</span></button>

      </form>
    </div>
  </body>
</html>