<div>
    
    <div class="container-form">
        <h1>Ingresa tu producto:</h1>
        <label for="text">Ingresa titulo</label>
        <input type="text" name="title" id="title_input">
        <br>
        <br>
        <label for="text">Ingresa precio</label>
        <input  type="text" name="price" id="price_input">
        <br>
        <br>
        <label for="text">Ingresa link de imagen</label>
        <input type="text" name="link" id="link_input">
        <br>
        <br>
        <button id="btn_input" >Enviar</button>
    </div>
</div>

