<div class="container-form" >

<h2>Centro de mensajes</h2>

<input type="text" name="mail" id="mail_user" placeholder="user@mail.com">
<hr>

<div id="chat_container">

</div>
<hr>
<input type="text" name="msg" id="msg_user" placeholder="Write a message">

</div>