<div class="container-form" >

<h2>Centro de mensajes</h2>

<form id="form_msg">

<input type="email"  name="mail" id="mail_user" placeholder="user@mail.com">
<hr>

<div class="container" id="chat_container">
</div>
<hr>
<input type="text" name="msg" id="msg_user" placeholder="Write a message">
<button class="btn" id="btn_msg" >Enviar</button>

</form>



</div>