 
<div class="container_table">
    <h2>Products view</h2>
    <table class="table table_products">
      
      <thead>
        <tr>
          <th class="white_font" scope="col">Title</th>
          <th class="white_font" scope="col">Price</th>
          <th class="white_font" scope="col">Img</th>
        </tr>
      </thead>
      <tbody id="tbody_products">
      </tbody>
    </table>
</div>


    
    

