 
<h1>Products view</h1>

{{#if products}}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Img</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
            <tr>
              <th scope="row">{{this.title}}</th>
              <td>{{this.price}}</td>
              <td><img style="width: 5rem;" src={{this.thumbnail}} alt=""></td>
            </tr>
        {{/each}}
      </tbody>
    </table>
{{else}}
    <div style="background-color: yellow;">
        <h3>No products found</h3>
    </div>

{{/if}}
    
    

